/.deps
/.module-catalog
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/configure
/libtool

/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/guile-baux
/build-aux/guile-baux.state
/build-aux/guile.m4
/build-aux/install-sh
/build-aux/libtool.m4
/build-aux/ltmain.sh
/build-aux/ltoptions.m4
/build-aux/ltsugar.m4
/build-aux/ltversion.m4
/build-aux/lt~obsolete.m4
/build-aux/missing
/build-aux/sofix
/build-aux/sofix.m4
/build-aux/texinfo.tex

/doc/*.info*
/doc/*.mk-am-frag
/doc/.deps
/doc/Makefile
/doc/Makefile.in
/doc/guile-pg.texi
/doc/qcons-tables.texi
/doc/relinfo.texi

/src/*.doc
/src/*.la
/src/*.lo
/src/*.x
/src/.deps
/src/.doc-index
/src/.libs
/src/Makefile
/src/Makefile.in
/src/config.h
/src/config.h.in
/src/modsup.h
/src/stamp-h1

/test/*.log
/test/Makefile
/test/Makefile.in
/test/config.scm
/test/create.sh
/test/drop.sh
/test/lo-tests-data-*
/test/runtest
