*.doc
*.la
*.lo
*.x
.deps
.doc-index
.last-release
.libs
.ttn.*
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
libtool
modsup.h
stamp-h1
wily-guile

build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/guile.m4
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/sofix
build-aux/sofix.m4
build-aux/texinfo.tex

doc/*.info*
doc/*.mk-am-frag
doc/.deps
doc/Makefile
doc/Makefile.in
doc/guile-pg.texi

scm/*.doc
scm/Makefile
scm/Makefile.in

test/*.log
test/Makefile
test/Makefile.in
test/config.scm
test/create.sh
test/drop.sh
test/lo-tests-data-*
