Makefile
Makefile.in
aclocal.m4
config.h.in
configure
autom4te.cache
config.log
config.status
config.h
.libs
.deps
*.x
*.lo
*.la
libtool
stamp-h1
config.cache
.doc-index
*.doc
wily-guile
pre-inst.merged-module-catalog
.last-release
.ttn.*

doc/Makefile
doc/Makefile.in
doc/*.info*
doc/.deps
doc/guile-pg.texi
doc/*.mk-am-frag

scm/Makefile
scm/Makefile.in
scm/*.doc

test/Makefile
test/Makefile.in
test/config.scm
test/*.log
test/lo-tests-data-*
test/drop.sh
test/create.sh
